MONGODB_URI=mongodb://localhost:27017/infinite_locus
JWT_SECRET=change_me
PORT=8080
# Comma-separated for multiple origins
CORS_ORIGIN=http://localhost:5173
BACKEND_URL=http://localhost:8080/api/v1
FRONTEND_URL=http://localhost:5173

